<nav class="navbar navbar-expand-lg py-3">
    <div class="container-fluid">
    <a href="" class="navbar-brand"><img id="logo" src="../../../assets/logoWhite.png" class="d-inline-block align-text-center mb-3">
       <span id="cantina_trebisondi"> CANTINA TREBISONDI </span>
    </a>
        <ul class="navbar-nav me-5 mt-5 barra">
            <li class="nav-item px-4">
                <a href="" class="nav-link">Chi Siamo</a>
            </li>
            <li class="nav-item px-4">
                <a routerLink="/home/vini" class="nav-link">I Vini</a>
            </li>
            <li class="nav-item px-4">
                <a href="" class="nav-link">La Cantina</a>
            </li>
        </ul>
    </div>
</nav>