/* 
* {
    height:15vh;
} 
*/

.barra a:hover{
    color: #891c2b;
}

.barra a:focus {
    color: #891c2b;
}

#logo {
    margin-top:15px;
    width:100px;
    height:100px;
}

#cantina_trebisondi {
    font-size: 42px;
    color: #FFF;
}

.barra {
    font-size: 20px;
    text-align: center;
}

a {
    color: #FFF;
}

@media (min-width:1000px) {
.dropdown:hover .dropdown-menu {
    display:block;
    }
}

.dropdown-menu {
    background-color: #292929;
}

.dropdown-item {
    background-color: transparent;
}

#vinBianco:hover {
    color: #fffbc0;
}

#noFiltrato:hover {
    color: #bbbbbb;
}