<footer class="container-fluid row">
    <div class="col-3 text-center" id="stemma"><a href="/home"><img src="../../../assets/stemma_Araldico.png"></a></div>
    <div class="col-3 text-center">
        <span style="font-size: 22px; color: grey;">Cantina Trebisondi</span><br>
        Società Agricola<br>
        P.IVA: xxxxxxxxx
    </div>
    <div class="col-3 text-center">
        <span style="font-size: 22px; color: grey;">I nostri Partner</span><br>
        Chateau de chateau<br>
        Palais des palais
    </div>
    <div class="col-3 text-center">
        <span style="font-size: 22px; color: grey;">Contatti</span><br>
        Tel: 3479034118<br>
        Mail: blabla@blabla.it
    </div>
</footer>